.App {
  text-align: center;
}

.navbar{
  text-align: center;
}

.header {
  color: black;
  height: 15rem;
}

.header-title{
  font-size: 5rem;
  color: black;
}

.project-container1{
  display: block;
  font-size: large;
  }

  .card{
    align-items: center;
    display: block;
    border: 1rem solid #eee;
    box-shadow: 0 2px 2px 2px #ccc;
    width: 20rem;
    padding : 20px;
    margin: 20px;
    margin-top: 20rem;
    float: left;
  }
  

  .footer{
    height: 15rem;
    color: white;
    margin-top: 55rem;
}





/* CARD FOR PROJECT*/
